*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: block;
    background: radial-gradient(circle at center, #F7DCB9 70%, #DEAC80);
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    top: 0;
    max-height: 10vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DEAC80;
    background: linear-gradient(180deg,#DEAC80,#F7DCB9);
}
div{
    display: block;
}
.logo{
    width: 50vw;
}
.logo > img{
    width: 100%;
    height: 100%;
    max-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
nav{
    font-weight: 600;
    display: block;
}
nav > ul{
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
ul li{
    list-style-type: none;
    text-align: center;
    margin: 1vw;
}
.nav-link{
    text-decoration: none;
    color: #6f1d1b;
    
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    margin-top: 15vh;
}
h2{
    color: #22333b;
    font-size: 2.5em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 2em;
}
form{
    display: block;
}

#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    
}
#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 5px 0;
    background-color: #6f1d1b;
    color: bisque;
    padding: 0 20px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
#brew{
    margin-top: 10vh;
}
.grid{
    display: flex;
}
#brew .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vw;
}
#brew .desc{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 10vh;
    width: 90vw;
}
#brew .desc > h2{
    width: 30%;
}
#brew .desc > p{
    width: 70%;
}
#coffee-review{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.type{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2);
    margin: 5vh;
    border: 2px solid black;
    border-radius: 5px;
}

.level{
    background: linear-gradient(180deg, #603F26, #6f1d1b);
    color: #F7DCB9;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
}
.type > h3{
    margin-top: 2vh;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
.btn{
    height: 5vh;
    padding: 0 20px;
    background: linear-gradient(180deg, #603F26, #6f1d1b);
    color: #F7DCB9;
    margin: 0 40px;
    margin-bottom: 5px;
    cursor: pointer;
}
@media only screen and  (max-width: 420px) {
    .header{
        font-size: 4.5rem;
    }
}

